

.text-outline {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.courggete{
  font-family: fantasy;
}
.font-cursive{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.font-desc{
    font-family: 'Arial', sans-serif;
}
